body {
	margin: 0;
	background-color: #f4f4f4;
	font-family: Arial, sans-serif;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: darkgreen;
	padding: 20px;
	color: white;
}

.menu {
	display: flex;
	gap: 20px;
}

.menu a {
	color: white;
	text-decoration: none;
}

.menu-button {
	display: none;
	cursor: pointer;
	border: none;
	background: none;
	color: white;
	font-size: 28px;
}

.container {
	display: flex;
	gap: 20px;
	padding: 20px;
}

.card {
	flex: 1;
	border-radius: 8px;
	background-color: white;
	padding: 20px;
}

/* Regole responsive per schermi piccoli */
@media screen and (max-width: 768px) {
	.header {
		flex-direction: column;
		align-items: flex-start;
	}

	.menu-button {
		display: block;
	}

	.menu {
		display: none;
		flex-direction: column;
		margin-top: 15px;
		width: 100%;
	}

	.menu.active {
		display: flex;
	}

	.container {
		flex-direction: column;
	}
}
